.signup-content {
    background: linear-gradient(180deg,rgba(77, 66, 60, 0.3) 0%,rgba(77, 66, 60, 0.9) 96%), url(/assets/reading.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 3em;
    height: 100vh;
}

.signup-form-container {
    width: 50%;
    box-shadow: 0px 0px 9px 8px rgba(0,0,0,0.32);
    background-color: transparent;
    padding: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-input-flex {
    display: flex;
    justify-content: space-between;
}

.signup-input-flex input {
    width: 49%;
    text-indent: 20px;
    border-radius: 20px;
}

.signup-input {
    width: 100%;
    text-indent: 20px;
    border-radius: 20px;
}

.signup-inputs span {
    font-size: 18px;
    color: #767676;
}

.signup-button {
    border-radius: 20px;
}

.signup-input{
    background-color: rgba(255, 255, 255, 0.6);
}

.anchors p {
    display: block;
    text-align: center;
    font-size: 18px;
}

.button {
    background-color:#eae9e8;
}

.anchors a {
    font-size: 18px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .form-container {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
   .form-container {
       width: 80%;
   }
}